html {
  min-width: 960px;
}
* {margin: 0; padding: 0;}
body {
color: white;
text-align: left;
background-color:black;
margin-right: 5%; 
margin-left: 5%;
}
img {
  width: 1700px; 
  height: 456px; 
  background-repeat: repeat;
  background-attachment:fixed;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%; 
 } 
 p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
 pre {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
ul {
list-style: none; 

padding-left: 0;
margin-top:25px;
/* background:rgba(35, 232, 243, 0.53); */
height: 50px; 
}
a {
text-decoration: none; 
/* background:rgba(34, 211, 230, 0.53);  */
color:white; 
padding:0px 15px; 
font-family: arial; 
line-height:50px; 
display: block; 
border-right: 1px solid white;
-moz-transition: all 0.3s 0.01s ease; 
-o-transition: all 0.3s 0.01s ease;
-webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
/* background:rgba(15, 156, 179, 0.74); */
}
li {
float:left;
}
a:link {
color: lightslategray;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: #7E8993;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: lightgray;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: rgba(189, 192, 193, 0.64);
background-color: transparent;
text-decoration: underline;
}  
