html {
  min-width: 960px;
}
* {margin: 0; padding: 0;}
body {
color: white;
text-align: left;
background-color:black;
}
img {
  width: 1900px; 
  height: 456px; 
  background-repeat: repeat;
  background-attachment:fixed;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%; 
 } 
 p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
 pre {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
ul {
list-style: none; 
margin: 0; 
padding-left: 0;
margin-top:25px;
background:rgba(192, 192, 192, 0.29);
height: 50px; 
}
a {
text-decoration: none; 
background:rgba(135, 148, 236, 0.28); 
color:white; 
padding:0px 15px; 
font-family: arial; 
line-height:50px; 
display: block; 
border-right: 1px solid rgba(134, 145, 224, 0.45);
-moz-transition: all 0.3s 0.01s ease; 
-o-transition: all 0.3s 0.01s ease;
-webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
background:rgba(88, 115, 162, 0.74);
}
li {
float:left;
}
a:link {
color: rgba(98, 140, 210, 0.27);
background-color: transparent;
text-decoration: none;
}
a:visited {
color: rgba(175, 175, 255, 0.36);
background-color: transparent;
text-decoration: none;
}
a:hover {
color: rgba(134, 132, 200, 0.51);
background-color: transparent;
text-decoration: underline;
}
a:active {
color: rgba(142, 175, 240, 0.45);
background-color: transparent;
text-decoration: underline;
}  
