html {
  min-width: 960px;
}
* {margin: 0; padding: 0;}
body {
color: white;
text-align: left;
background-color:black;
}
img {
  width: 1800px; 
  height: 456px; 
  background-repeat: repeat;
  background-attachment:fixed;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%; 
 } 
 p {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
 pre {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 15pt;
 }
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
ul {
list-style: none; 
margin: 0; 
padding-left: 0;
margin-top:25px;
background:rgba(131, 147, 231, 0.47);
height: 50px; 
}
a {
text-decoration: none; 
background:rgba(91, 93, 101, 0.32); 
color:white; 
padding:0px 15px; 
font-family: arial; 
line-height:50px; 
display: block; 
border-right: 1px solid white;
-moz-transition: all 0.3s 0.01s ease; 
-o-transition: all 0.3s 0.01s ease;
-webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
background:rgba(118, 155, 218, 0.74);
}
li {
float:left;
}
a:link {
color: rgba(145, 183, 245, 0.61);
background-color: transparent;
text-decoration: none;
}
a:visited {
color: rgba(175, 175, 255, 0.54);
background-color: transparent;
text-decoration: none;
}
a:hover {
color: rgba(170, 168, 255, 0.61);
background-color: transparent;
text-decoration: underline;
}
a:active {
color: rgba(142, 175, 240, 0.58);
background-color: transparent;
text-decoration: underline;
}  
